/* Nav bar */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navbar {
    padding: 1rem 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    background: rgba(0, 0, 0, 0.82);
    backdrop-filter: blur(2px);

    transition: all 0.3s ease;
}

.navbar-item {
    position: relative;

    text-decoration: none;
    color: rgb(255, 255, 255);

    padding-bottom: 6px;

    transition:
        color 0.3s ease,
        transform 0.25s ease;
}

.navbar-item p {
    font-size: 1.05rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.navbar-item h1 {
    font-size: 1.6rem;
    font-weight: 700;
}

.navbar-item::after {
    content: "";

    position: absolute;
    left: 50%;
    bottom: 0;

    width: 0%;
    height: 2.5px;

    background: white;

    border-radius: 50px;

    transform: translateX(-50%);

    transition: width 0.3s ease;
}

.navbar-item:hover::after,
.navbar-item.active::after {
    width: 100%;
}

.navbar-item:hover {
    transform: translateY(-2px);
}

.navbar-item.active,
.navbar-item:hover {
    color: whitesmoke;
}




/* Mobile */

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

.mobile-navbar-item {
    display: none;
}

@media screen and (max-width: 1000px) {

    /* Navbar */

    #navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        
        gap: 1.5rem;

        padding: 0.5rem 0.5rem;

        background: rgba(0, 0, 0, 0.82);
        backdrop-filter: blur(2px);

        position: fixed;
        top: 0;
        left: 0;

        z-index: 12;
    }

    #navbar p {
        display: none;
    }

    #navbar .navbar-item h1 {
        display: none;
    }

    /* Mobile Button */

    #mobile_btn {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 36px;
        height: 36px;

        border: none;
        border-radius: 10px;

        background: transparent;

        color: white;

        font-size: 1rem;

        cursor: auto;
    }

    /* Mobile Menu */

    #mobile_menu.active {
        position: fixed;

        top: 62px;
        right: 12px;

        width: 180px;

        display: flex;
        flex-direction: column;

        gap: 4px;

        padding: 8px;

        border-radius: 14px;

        background: rgba(27, 27, 27, 0.706);
        backdrop-filter: blur(2px);

        z-index: 1000;
    }

    /* Menu Items */

    .mobile-navbar-item {
        display: flex;
        align-items: center;

        border-radius: 10px;

        text-decoration: none;

        color: white;

        padding: 0.5rem 0.8rem;

        font-size: 0.7rem;
        font-weight: 500;

        transition: background 0.2s ease;
    }

    .mobile-navbar-item:hover {
        background: rgba(255, 255, 255, 0.06);
    }
}